---
import { HOME } from "@config";
import LinkButton from "./LinkButton.astro";
import socialIcons from "@assets/socialIcons";
import type { SocialIcons } from "types";

export interface Props {
  centered?: boolean;
}

const { centered = false } = Astro.props;
---

<div class={`social-icons ${centered ? "flex" : ""}`}>
  {
    Object.keys(HOME.LINKS).map(key => (
      <LinkButton
        href={HOME.LINKS[key as keyof typeof HOME.LINKS].href}
        className="link-button"
        title={HOME.LINKS[key as keyof typeof HOME.LINKS].content}
      >
        <Fragment
          set:html={socialIcons[key.split("Link ")[1] as keyof SocialIcons]}
        />
      </LinkButton>
    ))
  }
</div>

<style>
  .social-icons {
    @apply flex-wrap justify-center gap-1;
  }
  .link-button {
    @apply p-2 hover:rotate-6 sm:p-1;
  }
</style>
